.hobbyBaseInfoContainer {
    display: block;
    margin: auto;
    max-width: 900px;
    padding: 0 20px;
}

.hobbyBaseInfoContainer > .img_wrapper {
    display: block;
    width: 300px;
    height: 250px;
    margin: auto auto 20px;
}

.hobbyDetails .card {
    width: 272px;
}

.hobbyDetails .card > .img_wrapper {
    width: 252px;
    height: 302px;
}

p {
    display: inline;
}
